@font-face {
  font-family: "BRoya";
  src: url("../fonts/BRoya.eot?#") format("eot"),
    url("../fonts/BRoya.woff") format("woff"),
    url("../fonts/BRoya.ttf") format("truetype");
}

body {
  background-color: #efefef;

  padding: 0.1px;
  margin: 0.1px;
}

* {
  padding: 0;
  margin: 0;

  font-family: "BRoya", sans-serif;
}
